body {
  max-width: 100%;
  background-color: rgb(237, 212, 216);
}


:root {
  --primary-color: #9400d3;
  --secondary-color: #f3d7f4;
 
   --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}


h1,
h2,
h3 {
  text-align: center;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.text-center-name,
.text-center-about {
  font-size: 96px;
}

h2 {
  padding-top: 50px;
}
.text-center-hi,
.text-center-contact {
  font-size: 48px;
}
h3 {
  opacity: 0.7;
}
.text-center-front {
  font-size: 34px;
}

.homepage-link {
  padding-top: 50px;
  padding-bottom: 50px;
}

p {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 16px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: #f5dff6;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraph {
  margin: 30px;
}

  .email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  margin-bottom: 20px;
}

.email-link:hover {
  text-decoration: underline;
}

.primary-link {
  margin: 30px 0;
  border-radius: 27px;
  padding: 15px;
  text-decoration: none;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: #f5dff6;
}
.app-descripton {
  display: block;
}
.img-fluid {
  margin-bottom: 30px;
}
.img-fluid rounded{
  color: #f5dff6;
   box-shadow: var(--box-shadow);
  border-radius: 12px;
}
